* { box-sizing: border-box; }

.box-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto 3rem;
}

.title {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  padding: 20px;
  text-align: center;
	margin: auto;
	width: max-content;
	margin-bottom: 2rem;
}

div.box {
  border-style: groove;
  border: 12px solid rgba(10, 10, 10, 0.8);
	min-height: 16rem;
}

div.box img {
  width: 100%;
  height: auto;
	min-height: 8rem;
}

div.description {
  padding: 1rem;
  text-align: center;
	display: flex;
	align-items: center;
	background-color: rgba(200, 200, 200, 0.8);
	min-height: 8rem;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 29.99999%;
	flex-grow: 1;
}

@media only screen and (max-width: 700px) {
  .responsive { margin: 6px 0; }
	.title { font-size: 48px; }
}

@media only screen and (max-width: 500px) {
  .responsive { width: 100%; }
	.title { font-size: 36px; }
}
