.first-cell {
	text-align: center;
	width: 9%;
}

.cell {
	text-align: center;
	width: 9%;
	margin-left: 1%;
}

.hide-cell-sm, .hide-cell-md { display: block; }

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 5px solid;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
	width: 96%;
}

.standing-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 80%;
	border: 1px solid black;
	padding: 0.5rem;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 0.5rem;
}

.row-common {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 2px solid;
	border-style: outset;
	border-radius: 8px;
	padding: 1rem;
	margin-bottom: 0.5rem;
	width: 96%;
}
.first-rows { background-color: rgba(0,255,0,0.2); }
.last-rows { background-color: rgba(255,0,0,0.2); }

.footer { position: relative; }

@media screen and (max-width: 480px) {
	.first-cell { width: 30%; }

	.cell {
		width: 30%;
		margin-left: 5%;
	}

	.hide-cell-md { display: none; }
}

@media screen and (max-width: 768px) {
	.cell {
		width: 15%;
		margin-left: 2%;
	}
	.first-cell { width: 15%; }
	.row, .row-common { width: 85% }
	.hide-cell-sm { display: none; }
	.standing-box { width: 90%; }
}
