.body { padding: 1rem; }
.first-cell { text-align: center; width: 10%; }
.cell { text-align: center; width: 10%; margin-left: 1%; }
.hide-cell-sm, .hide-cell-md { display: block; }
.row { display: flex; flex-direction: row; align-items: center; justify-content: space-between; border: 1px solid; padding: 1rem; margin-bottom: 1rem; width: 90%; }
.standing-box { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 80%; border: 1px solid red; margin: auto; }

@media screen and (max-width: 480px) {
	.first-cell { width: 30%; }
	.cell { width: 30%; margin-left: 5%; }
	.hide-cell-md { display: none; }
}

@media screen and (max-width: 768px) {
	.first-cell { width: 15%; }
	.cell { width: 15%; margin-left: 2%; }
	.hide-cell-sm { display: none; }
	.standing-box { width: 90%; }
}