body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
	position: absolute;

	font-family: impact; /* fantasy; */

	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-image: url('./assets/background_hor.jpg');
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
}

/* HIDE THE ARROWS IN NUMBER FIELDS: chrome, firefox */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
	text-align: center;
}

/* HIDE THE ARROWS IN NUMBER FIELDS: safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.content { flex: 1; }

/* NAVBAR */
nav {
	background-color: rgb(0, 0, 0, 0.8);
	color: green;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 100%;
	position: fixed;
}
nav h1 {
	flex: auto;
	margin-left: 0.5rem;
}
nav h1 a {
	text-decoration: none;
	padding: 0.25rem 0.5rem;
}
nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0.5rem;
}
nav ul li a, nav ul li span {
	padding: 0.5rem;
	margin-left: 0.5rem;
}

/* NAVBAR BUTTONS */
.home-btn:link, .home-btn:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
}
.home-btn:hover, .home-btn:active {
  background-color: green;
  color: white;
}

.flash {
	padding: 1em;
	background: #cae6f6;
	border: 1px solid #377ba8;
	color: #b00000;
	width: 30%;
	margin: 2rem auto;
	text-align: center;
}

header { margin-top: 5rem; }

.footer {
	display: flex;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.8);
	color: white;
	text-align: center;
	padding: 0.2rem;
	margin-top: 1.5rem;
}

.copyright, .info, .socials {
	width: 30%;
}

.socials {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	margin-right: 5%;
}
.socials i {
	font-size: 2rem;
	cursor: pointer;
}
.socials:nth-child(2) {
	display: flex;
	justify-content: space-evenly;
}

@media screen and (max-width: 480px) {
	body {
		background-attachment: fixed;
		background-image: url('./assets/background_vert.jpg');
	}

	nav ul li a {
		font-size: 12px;
		padding: 0.3rem;
		margin-left: 0.2rem;
	}

	.copyright, .info, .socials {
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
	}
}

@media screen and (max-width: 340px) {
	nav ul li a {
		font-size: 9px;
		padding: 0.1rem;
		margin-left: 0.1rem;
	}

	.footer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
