.form-container {
	width: 60%;
	border: 4px solid;
	margin: auto;
	background-color: rgb(200, 200, 200, 0.8);
	border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
.form-container h1 {
	text-align: center;
	font-size: 2.5rem;
	color: green;
}

.userinfo {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.userpic {
	display: flex;
	align-items: center;
	justify-content: center;
	solid: 1px solid red;
}
.userpic img {
	width: 11rem;
	height: 11rem;
	border: 4px solid red;
	border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
	padding: 1rem;
}

input { font-size: 1.5rem; width: 60%; }
select { font-size: 1.5rem; }

.two-cols {
	display: flex;
	justify-content: space-evenly;
}

.separator {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	font-size: 1.5rem;
}

.center {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 20rem;
}

input[type=submit] {
	background-image: linear-gradient(45deg, turquoise, greenyellow);
	color: white;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}

@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 400px) {}
