<!doctype html>
<title>{% block title %}{% endblock %} - DeCempions</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- NAVBAR -->
<nav>
	<h1>DeCempions</h1>
  <ul>
    {% if g.username %}
      <li><span><a class="home-btn" href="{{ url_for('game.home') }}">Home</a></span>
      <li><a class="home-btn" href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a class="home-btn" href="{{ url_for('auth.register') }}">Register</a>
      <li><a class="home-btn" href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}
  </ul>
</nav>

<!-- PAGE -->
<section class="content">
  <header>
    {% block header %}{% endblock %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<!-- FOOTER -->
<div class="footer">
	<div class="info">
		<p>
			<i class="fa fa-futbol-o" aria-hidden="true"></i>&nbsp;
			DeCempions a football game for football lovers.
		</p>
		<p>
			<i class="fa fa-futbol-o" aria-hidden="true"></i>&nbsp;
			Join the community and be the first to score a goal!
		</p>
	</div>

	<div class="socials">
		<div>You can find me on:</div>
		<div>
			<a href="https://github.com/A-725-K"><i class="fa fa-github-square" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/💾-andrea-canepa-81261a1b2/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		</div>
	</div>

	<div class="copyright">
		<p><i>Developed and maintained by:</i></p>
		<p>&#169; A-725-K
	</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/carousel.js') }}"></script>