<!doctype html>
<title>{% block title %}{% endblock %} - DeCempions</title>

<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- NAVBAR -->
<nav>
	<h1>DeCempions</h1>
  <ul>
    {% if g.username %}
      <li><span><a class="home-btn" href="{{ url_for('game.home') }}">Homepage</a></span>
      <li><a class="home-btn" href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a class="home-btn" href="{{ url_for('auth.register') }}">Register</a>
      <li><a class="home-btn" href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}
  </ul>
</nav>

<!-- PAGE -->
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<!-- FOOTER -->