{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Homepage{% endblock %}</h1>
{% endblock %}

{% block content %}
	<h1 style="color: red; background-color: yellow;">Hello!</h1>
	<div><a href="{{ url_for('game.standing') }}">STANDING</a></div>
	{# <div><a href="{{ url_for('game.insert_result') }}">INSERT RESULT</a></div> #}
	<div><a href="{{ url_for('user.edit') }}">PROFILE</a></div>
	<div><a href="{{ url_for('game.ranking') }}">RANKING</a></div>
	<div><a href="{{ url_for('game.league') }}">LEAGUE</a></div>
{% endblock %}
