{% extends 'base.html' %}

{% block header %}
	{# <link rel="stylesheet" href="{{ url_for('static', filename='league.css') }}"> #}
	<h1>{% block title %}League{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div>
		<span>WEEK</span>
		<span>DATE</span>
		<span>HOME TEAM</span>
		<span>OUT TEAM</span>
		<span>RESULT</span>
	</div>
	{% for match in league %}
		{% if match['week'] == next_week %}
			<div style="background-color: cyan">
		{% else %}
			<div>
		{% endif %}
			<span>{{ match['week'] }}</span>
			<span>{{ match['match_date'].strftime('%d/%m/%y') }}</span>
			<span>{{ match['homeT'] }}</span>
			<span>{{ match['outT'] }}</span>
			<span>{{ match['goal_home'] if match['goal_home'] is not none else '' }}-{{ match['goal_out'] if match['goal_out'] is not none else '' }}</span>
		</div>
	{% endfor %}
{% endblock %}