{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}PLAY NEXT WEEK{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div style="display: flex; flex-direction: column; justify-content: flex-start; width: 70%; margin: auto; padding: 1rem">
		<div style="display: flex; margin-bottom: 1rem;">
			<div style="width: 30%; text-align: center;"><b>Home Team</b></div>
			<div style="width: 30%; text-align: center; margin-right: 10%;"><b>Out Team</b></div>
			<div style="width: 5%; margin-right: 5%; text-align: center;"><b>GH</b></div>
			<div style="width: 5%; margin-right: 5%; text-align: center;"><b>GO</b></div>
			<div style="width: 10%; text-align: center;"><b>Result</b></div>
		</div>
		<form method="post">
			{% for match in matches %}
				<div style="display: flex">
					<div style="width: 30%; text-align: center; border-right: 1px solid black;">{{ match['home_name'].upper() }}</div>
					<div style="width: 30%; text-align: center; margin-right: 10%;">{{ match['out_name'].upper() }}</div>
					<div style="width: 5%; margin-right: 5%;">
						{% if not match['result'] %}
							{% if user_guess[match['id']] %}
								<input type="number" style="width: 100%" value="{{ user_guess[match['id']]['guess_goal_home'] }}" disabled>
							{% else %}
								<input type="number" name="guess_home_{{ match['id'] }}" id="guess_home_{{ match['id'] }}" min="0" max="15" style="width: 100%" required>
							{% endif %}
						{% else %}
							<input type="number" style="width: 100%" value="X" disabled>
						{% endif %}
					</div>
					<div style="width: 5%; margin-right: 5%;">
						{% if not match['result'] %}
							{% if user_guess[match['id']] %}
								<input type="number" style="width: 100%" value="{{ user_guess[match['id']]['guess_goal_out'] }}" disabled>
							{% else %}
								<input type="number" name="guess_out_{{ match['id'] }}" id="guess_out_{{ match['id'] }}" min="0" max="15" style="width: 100%" required>
							{% endif %}
						{% else %}
							<input type="number" style="width: 100%" value="X" disabled>
						{% endif %}
					</div>
					<div style="width: 10%; text-align: center;">{{ match['result'] or '-' }}</div>
				</div>
			{% endfor %}
			{% if not user_guess %}
				<div style="display: flex; margin: auto;">
					<input type="submit" value="Save results" style="margin: 1rem auto">
				</div>
			{% endif %}
		</form>
	</div>
{% endblock %}