{% extends 'base.html' %}

{% block header %}
	<link rel="stylesheet" href="{{ url_for('static', filename='ranking.css') }}">
{% endblock %}

{% block content %}
	<div class="ranking-title">
		<img src="{{ url_for('static', filename='assets/ball.png') }}"></img>
		Players
		<img src="{{ url_for('static', filename='assets/ball.png') }}"></img>
	</div>

	<div class="ranking-box">
		<div class="row">
			<div class="first-cell">POSITION</div>
			<div class="cell">USER</div>
			<div class="cell">POINTS</div>
			<div class="cell hide-cell">MATCHES</div>
			<div class="cell">TEAM</div>
		</div>
		{% for user in ranking %}
			{% if user['username'] == g.username %}
				<div class="row-common user-row">
			{% else %}
				<div class="row-common">
			{% endif %}
				<div class="first-cell">{{ loop.index }}</div>
				<div class="cell"><i>{{ user['username'] }}</i></div>
				<div class="cell">{{ user['points'] }}</div>
				<div class="cell hide-cell">{{ user['matches_played'] }}</div>
				{% set fname = 'assets/teams/' + user['name'] + '.png' %}
				<div class="cell"><img src="{{ url_for('static', filename=fname) }}"</img></div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
