{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Standing{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 80%; border: 1px solid; margin: auto;">
		<h1 style="color: red; background-color: yellow; ">Serie A</h1>
		<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; border: 1px solid; padding: 1rem; margin-bottom: 1rem; width: 90%">
			<div style="text-align: center; width: 12.5%;">TEAM</div>
			<div style="text-align: center; width: 12.5%;">POINTS</div>
			<div style="text-align: center; width: 12.5%;">WON</div>
			<div style="text-align: center; width: 12.5%;">TIE</div>
			<div style="text-align: center; width: 12.5%;">LOST</div>
			<div style="text-align: center; width: 12.5%;">GOAL SCORED</div>
			<div style="text-align: center; width: 12.5%;">GOAL CONCEDED</div>
			<div style="text-align: center; width: 12.5%;">GOAL DIFFERENCE</div>
		</div>
		{% for team in standing %}
			<div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; border: 1px solid; padding: 1rem; margin-bottom: 0.5rem; width: 90%">
				<div style="text-align: center; width: 12.5%;">{{ team['name'] }}</div>
				<div style="text-align: center; width: 12.5%;">{{ team['points'] }}</div>
				<div style="text-align: center; width: 12.5%;">{{ team['won'] }}</div>
				<div style="text-align: center; width: 12.5%;">{{ team['tie'] }}</div>
				<div style="text-align: center; width: 12.5%;">{{ team['lost'] }}</div>
				<div style="text-align: center; width: 12.5%;">{{ team['goal_scored'] }}</div>
				<div style="text-align: center; width: 12.5%;">{{ team['goal_conceded'] }}</div>
				<div style="text-align: center; width: 12.5%;">{{ team['goal_diff'] }}</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}