{% extends 'base.html' %}

{% block header %}
	<link rel="stylesheet" href="{{ url_for('static', filename='standing.css') }}">
{% endblock %}

{% block content %}
	<div class="standing-box">
		<div class="row">
			<div class="first-cell">POSITION</div>
			<div class="cell">TEAM</div>
			<div class="cell">POINTS</div>
			<div class="cell hide-cell-md">MATCHES</div>
			<div class="cell hide-cell-md">WON</div>
			<div class="cell hide-cell-sm">TIE</div>
			<div class="cell hide-cell-sm">LOST</div>
			<div class="cell hide-cell-sm">GOAL SCORED</div>
			<div class="cell hide-cell-sm">GOAL CONCEDED</div>
			<div class="cell hide-cell-md">GOAL DIFF</div>
		</div>
		{% for team in standing %}
			{% if loop.index < 5 %}
				<div class="row-common first-rows">
			{% elif loop.index > 17 %}
				<div class="row-common last-rows">
			{% else %}
				<div class="row-common">
			{% endif %}
				<div class="first-cell">{{ loop.index }}</div>
				<div class="cell"><i>{{ team['name'].title() }}</i></div>
				<div class="cell">{{ team['points'] }}</div>
				<div class="cell hide-cell-md" >{{ team['matches_played'] }}</div>
				<div class="cell hide-cell-md">{{ team['won'] }}</div>
				<div class="cell hide-cell-sm">{{ team['tie'] }}</div>
				<div class="cell hide-cell-sm">{{ team['lost'] }}</div>
				<div class="cell hide-cell-sm">{{ team['goal_scored'] }}</div>
				<div class="cell hide-cell-sm">{{ team['goal_conceded'] }}</div>
				<div class="cell hide-cell-md">{{ team['goal_diff'] }}</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
